.header{
    height: 120px;
    background-image: linear-gradient(to bottom,#f6402e,#fd6332);
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar__list{
    padding-left: 0;
}
.navbar__list-item{
    list-style-type: none;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 8px;  
    color: var(--white-color);
    font-weight: 300;
    position: relative;
}
.navbar__list-item:hover,
.navbar__list-item__link:hover
{
    color: rgba(255 , 255 , 255 , 0.7);
}
.navbar__list-item--no-hover{
    color: var(--white-color);
}
.navbar__list-item__link{
    color: var(--white-color);
}
.navbar__list-item__link--bold{
    font-weight: 500;
}
.border-right{
    border-right: 1px solid;
    border-color: #fd6332;
}

/* qrcode */
.qr-code{
    position: absolute;
    top: calc(100% + 15px);
    display: none;
    width: 186px;
    border-radius: 2px;
    animation: fadeIn ease .4s;
    z-index: 99999;
    box-shadow: 1px 1px 5px gray;
}
.img-qrcode{
    width: 100%;
}

.navbar__list-item:hover .qr-code{
    display: block;
}
.navbar__list-item:hover .header__notify{
    display: block;
}

.link-app{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.app-download{
    width: 50%;
}
.app-download-store img{
    height: 18px;
    margin-left: 3px;
}
.app-download-chplay img{
    height: 18px;
    margin-right: 8px;
}
.app-download-gallery img{
    height: 15px;
    margin-left: 11px;
}
.qr-code::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 25px;
    top: -25px;
}
/* end qr code */

/* notify header */
.header__notify{
    background-color: var(--white-color);
    width: 410px;
    position: absolute;
    right: 0;
    top: calc(100% + 12px);
    box-shadow: 2px 5px 7px #ccc;
    display: none;
    transform-origin: top right;
    animation: headerNotifyGrowth linear .25s;
    z-index: 555;
}

/* lớp giả tạo mũi tên */
.header__notify::before{
    content: "";
    display: block;
    border-width: 20px;
    border-style: solid ;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 16px;
    top: -32px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 100px;
    right: 0;
    top: -15px;
}

@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    background-color: var(--primary-color-rgba);
}
.header__notify-item:hover{
    background-color: rgb(138, 219, 192);
}

.header__notify-header{
    color: gray;
    padding-left: 8px;
}

.header__notify-link{
    display: flex;
}

.img-item-notify{
    width: 92px;
    padding: 12px;
}

.header__notify-name{
    display: block;
    color: black;
    font-size: 1.6rem;
    font-weight: 500;
}
.header__notify-desc{
    color: black;
    font-size: 1.4rem;
}
.header__notify-item + .header__notify-item{
    margin-top: 10px;
}
.see-all{
    background-color: var(--white-color);
    text-align: center;
    padding: 5px 0;
}
.see-all-link{
    color: black;
}

/* end notify header */

/* modal */
#modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(230, 214, 214,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
#mobile-modal-nav{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(230, 214, 214,0.4);
    visibility: hidden;
}
.mobile-nav-list{
    background-color: var(--white-color);
    padding-top: 15px;
    padding-left: 5px;
    margin-top: 0;
}
.mobile-nav-item{
    padding: 5px 0;
}
.mobile-nav-link{
    font-size: 1.5rem;
    color: var(--text-color);
}
#mobile-close-modal{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}
.register{
    background-color: var(--white-color);
    width: 400px;
    min-height: 350px;
    border-radius: 5px;
    padding: 16px;
    position: relative;
    animation: fadeInModal ease 0.5s;
}
@keyframes fadeInModal {
    from{
        transform: translateY(-500px);
    }
    to{
        transform: translateY(0);
    }
}
.text-register{
    font-size: 1.7rem;
}
.input-phone{
    width: 100%;
    height: 35px;
    font-size: 1.7rem;
}

.btn-continue{
    width: 100%;
    background-color: #fd6332;
    margin-top: 5px;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    height: 35px;
    font-size: 1.7rem;
}
.text-or{
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 1.7rem;
}
.social{
    display: flex;
    margin-top: 15px;
}
.icon-fb{
   padding: 5px 12px; 
   border: 1px solid gray;
   border-radius: 2px;
   color: black;
   flex:1;
   margin-right: 5px;
   padding: 10px;
   text-align: center;
   font-size: 1.8rem;
}
.icon-google{
    padding: 5px 12px; 
    border: 1px solid gray;
    border-radius: 2px;
    color: black;
    flex: 1;
    margin-left: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
 }
.policy{
    text-align: center;
}
.policy-accept{
    margin-bottom: 0;
    font-size: 1.5rem;
}
.policy a{
    font-size: 1.5rem;
    color: var(--primary-color);
}
.text-footer{
    text-align: center;
    margin-top: 5px;
}
.have-account{
    opacity: 0.6;
    font-size: 1.6rem;
}
.text-footer a{
    color: var(--primary-color);
    font-size: 1.6rem;
}
#close-modal{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}
.btn-register{
    cursor: pointer;
}
/* end modal */

/* header search */

.header-with-search{
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
}

.header__logo{
    width: 120px;
}
.img-logo{
    width: 90px;
    cursor: pointer;
}
.header__search{
    height: 40px;
    background-color: var(--white-color);
    flex:1;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-left: 36px;
}
.header__search-input{
    width: 90%;
    height: 100%;
    border: none;
    font-size: 1.5rem;
    padding-left: 10px;
}

.header__search-input:focus ~ .history-search{
    visibility: visible;
}

.header__search-btn{
    width: 9%;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 2.1rem;
    border: none;
    margin: 2px;
    cursor: pointer;
}
.header__cart{
    width: 150px;
    text-align: center;
}
.icon-cart{
    font-size: 2.6rem;
    color: var(--white-color);
    cursor: pointer;
}
.mobile-login{
    color: var(--white-color);
    cursor: pointer;
    font-size: 1.3rem;
    padding-right: 10px;
    display: none;
}
.mobile-nav{
    color: var(--white-color);
    font-size: 1.8rem;
    cursor: pointer;
    margin: 0 8px;
    display: none;
}
.mobile-filter .selection-filter{
    height: 100%;
    border: none;
    display: none;
}

/* history search */
.history-search{
    background-color: var(--white-color);
    width: calc(100% - 132px);
    box-shadow: 1px 1px 5px gray;
    position: absolute;
    top: calc(100% + 2px);
    visibility: hidden;
    z-index: 55555;
}
.history-search__text{
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 15px;
}

.history-search__list{
    padding-left: 0;
}

.history-search__item{
    list-style: none;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-left: 15px;
    height: 32px;
}
.history-search__item:hover{
    background-color: #fafafa;
}

.history-search__item a{
    color: rgba(0,0,0,.87);
    display: block;
}

/* body */
.body{
    background-color: #f5f5f5;
}
.category{
    background-color: var(--white-color);
}
.category__header{
    font-size: 1.5rem;
    padding: 8px 16px;
}

.category-list{
    padding-left: 0;
}
.category-item{
    list-style: none;
    position: relative;
}

.category-item .category-item__link{
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
}
.category-item .category-item__link:hover{
    color: var(--primary-color);
    right: -40px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    display: block;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

/* button filter */
.filter{
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}
.fitler__btn{
    display: flex;
    align-items: center;
}
.label-sort{
    font-size: 1.5rem;
    color: var(--text-color);
}
.btn--active{
    background-color: var(--primary-color);
}
.filte__price{
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--white-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4px;
    width: 168px;
    cursor: pointer;
    position: relative;
}
.filte__price:hover .filter__price-list{
    display: block;
}
.btn {
    margin: 0 8px;
}
.paginate{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.page-current{
    color: var(--primary-color);
}
.previous-page , .next-page{
    padding: 16px;
    background-color: var(--white-color);
    margin: 0 2px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.previous-page{
    cursor: default;
    opacity: 0.5;
}
.filter__price-list{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;
    display: none;
}
.filter__price-item{
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 12px 0;
}
.filter__price-item:hover{
    color: var(--primary-color);
}
.filte__price-icon{
    padding-right: 8px;
}
.text-price{
    padding-left: 8px;
}

/* product item  */
.product-item{
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
}

.product-item__favorite{
    position: absolute;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 10px;
    left: -4px;
    line-height: 2rem;
}
.product-item__favorite::after{
    content: "";
    display: block;
    border-top: 3px solid;
    border-left: 3px solid;
    border-color: currentColor transparent transparent transparent;
    position: absolute;
    filter: brightness(60%);
}
.product-item__favorite i{
    color: var(--white-color);
    margin-left: 5px;
    margin-right: 2px;
}
.product-item__favorite span{
    color: var(--white-color);
    margin-right: 4px;
}

.product-item__sale-off{
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
.product-item__sale-off::after{
    content: "";
    position: absolute;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
    bottom: -6px;
    left: 0;
}
.product-item__sale-off .value-sale{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    top: 1px;
}
.product-item__sale-off .text{
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.product-item__name{
    font-size: 1.4rem;
    line-height: 18px;
    margin-top: 10px;
    padding: 0 5px;
    color: var(--text-color);
}
.product-item__price{
    font-size: 1.4rem;
    margin-top: 10px;
    padding-left: 5px;
}
.price-old{
    color: var(--text-color);
    margin-right: 12px;
    position: relative;
}
.price-old::before{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    background-color: black;
}
.price-current{
    color: var(--primary-color);
}
.product-item__action{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
    color: var(--text-color);
}
.heart, .rating{
    cursor: pointer;
}
.fa-star{
    color: yellow;
}
.fa-heart{
    color: var(--primary-color);
}
.sold{
    font-size: 1.2rem;
}
.location{
    text-align: end;
    padding: 10px 10px 0 0;
    font-size: 1.3rem;
    color: #858181;
}

/* pagination */

.pagination{
    margin-top: 25px;
    margin-bottom: 50px;
}
.pagination-item{
    margin: 0 8px;
}

/* footer */
.footer{
    padding-top: 30px;
}
.footer__heading{
    color: #737373;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 450;
}
.footer-list{
    list-style: none;
    padding-left: 0;
}
.footer-item{

}
.footer-item__link{
    color: #737373;
    font-size: 1.2rem;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer .social-icon{
    margin-right: 5px;
}
.method-pay{
    display: flex;
    flex-wrap: wrap;
}
.method-pay img{
    height: 40px;
    margin-top: 5px;
}
.footer__app{
    display: flex;
}
.footer__app-qrcode{
    width: 36%;
}
.footer__app-download{
    margin-left: 5px;
}
.footer__app-link img{
    width: 72%;
}

.footer__border{
    border-bottom: 1px solid #737373;
    padding-bottom: 25px;
}

.footer__text{
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
    padding-top: 15px;
}
